@font-face {
  font-family: 'VT323';
  src: url('/static/fonts/VT323-Regular.ttf') format('truetype');
}

body {
  font-family: VT323, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url('/static/img/pixel_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  padding: 3rem;
  background-color: #8b8b8bde;
  box-shadow:inset;
  border-style: solid;
  border-radius: 35px;
  border-color: #313131de;
  border-width: 9px;
}

h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 120px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  text-shadow: 9px 9px rgb(60, 60, 60);
}

#resultsChart {
  width: 1100px; /* Adjust this value to change the chart width */
  height: 600px; /* Adjust this value to change the chart height */
}
