@font-face {
    font-family: 'VT323';
    src: url('/static/fonts/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background: linear-gradient(-45deg, #0609117a, #093231d5, #061221b5, #1b483d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.text-box {
    width: 80%;
    height: 40px;
    margin-top: 10px;
    font-family: 'VT323', monospace;
    font-size: 1.2rem;
    border: none;
    border-radius: 12px;
    padding: 0 15px;
    outline: none;
}

.rect-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 60px;
}

.rect-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #7f4088;
    border-radius: 14px;
    border: none;
    font-size: 1.9rem;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease;
    font-family: 'VT323', monospace;
    height: 75px;
    width: 175px;
    margin: 0 13px;
    padding: 0 15px;
    border: 4px solid rgb(37, 37, 37);
}

/* Define a custom animation */
@keyframes rainbow {
    0% {
        color: red;
    }
    5% {
        color: #ff4000;
    }
    10% {
        color: #ff8000;
    }
    15% {
        color: #ffbf00;
    }
    20% {
        color: #ffff00;
    }
    25% {
        color: #bfff00;
    }
    30% {
        color: #80ff00;
    }
    35% {
        color: #40ff00;
    }
    40% {
        color: #00ff00;
    }
    45% {
        color: #00ff40;
    }
    50% {
        color: #00ff80;
    }
    55% {
        color: #00ffbf;
    }
    60% {
        color: #00ffff;
    }
    65% {
        color: #00bfff;
    }
    70% {
        color: #0080ff;
    }
    75% {
        color: #4235d3;
    }
    80% {
        color: #00a2ff;
    }
    85% {
        color: #00ffe5;
    }
    90% {
        color: #8000ff;
    }
    95% {
        color: #bf00ff;
    }
    100% {
        color: red;
    }
}

/* Apply the animation to the text */
.rect-button-2 {
    animation: rainbow 3s infinite;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.492);
}


.rect-button:hover {
    background-color: #295f5b;
}

/* Adjust the left margin of rect-button-1 and right margin of rect-button-2 to customize alignment */
.rect-button-1 {
    margin-left: 20px;
}

.rect-button-2 {
    margin-right: 20px;
}


.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding-top: 0%;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    font-size: 3.6rem;
    font-weight: 500;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
    font-family: 'VT323', monospace;
    position: absolute;
    width: 115px;
    height: 115px;
    border: 4px solid rgb(23, 23, 23);
}

.dot {
    height: 360px;
    width: 360px;
    background-color: #3f3f3f;
    border-radius: 50%;
    display: inline-block;
    border: 5px solid rgb(44, 44, 44);
    margin-top: 0%;
}

.button:hover {
    background-color: #7f4088;
}

.button-top {
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #58b6a7;
}

.button-left {
    top: 50%;
    right: 75%;
    transform: translate(50%, -50%);
    background-color: #58b6a7;
}

.button-right {
    bottom: 50%;
    left: 75%;
    transform: translate(-50%, 50%);
    background-color: #58b6a7;
}

.button-bottom {
    bottom: 38%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: #58b6a7;
}

