body {
    font-family: Arial, sans-serif;
    background-color: #253135;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    width: 90%;
    max-width: 350px;
    background-color: #253135;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.character {
    max-width: 100%;
    height: auto;
    margin: 0;
}

.name-input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin: 20px auto;
    background-color: #ffffff;
    box-sizing: border-box; /* This ensures the padding and border are included in the width of the input */
}


.play-button {
    background-color: #9c9286;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.play-button:hover {
    background-color: #9c9286;
    color: #72182d;
}