@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  src: url('/static/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'VT323';
    src: url('/static/fonts/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#game-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-canvas {
    display: block;
    background-color: #f0f0f0;
    position: absolute;
}

#buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#character-selector {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#quiz-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

#qr-code {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 490px;
    height: auto;
}

@media (max-width: 768px) {
    #qr-code {
        display: none;
    }
}