@font-face {
    font-family: "VT323";
    src: url('/static/fonts/VT323-Regular.ttf') format('truetype');
  }
  
  body {
    background-image: url("/static/img/background_mobile_auswertung.png");
    background-size: cover;
    font-family: "VT323", monospace;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    background-color: #8b8b8b9a;
    box-shadow:inset;
    border-style: solid;
    border-radius: 12px;
    border-color: #31313158;
    border-width: 8px;
  }
  
  .title {
    font-size: 4.8rem;
    color: #ffffff;
    margin-bottom: 50px;
    text-shadow: 5px 5px rgb(60, 60, 60);
    text-align: center;
  }
  
  .chart {
    width: 90%;
    height: 70%;
  }
  