.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-size: cover;
    padding-top: 0%;
}

.progress-indicator {
    position: absolute;
    top: 1rem;
    font-size: 2.4rem;
    color: #ffffff;
}

.question-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 200px;
    background-color: #408381;
    border-radius: 12px;
    font-size: 5rem;
    color: white;
    margin-bottom: 120px;
    padding: 0 15px;
    font-family: 'VT323', monospace;
}

.answer-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin-top: -65px;
}

.answer-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #58b6a7;
    border-radius: 12px;
    border: none;
    font-size: 2.6rem;
    color: white;
    cursor: pointer;
    outline: none;
    transition: background-color 0.2s ease;
    font-family: 'VT323', monospace;
    padding: 20px;
    margin-top: 20px;
}

.answer-box:hover {
    background-color: #7f4088;
}

@media (min-width: 768px) {
    .answer-box {
        width: calc(50% - 10px);
    }
}

@media (max-width: 767px) {
    .answer-box {
        width: 100%;
        margin-bottom: 10px;
    }
}