<!doctype html>
<html lang=en>
<head>
    <meta name="Naja, wenn du schon so fragst: wenn du ein admin werden willst besuche: {{ egg }}">
    <title>CIQ | 404</title>
</head>
<title>404 Not Found</title>
<h1>Gibts nicht, ist nicht? 404</h1>
<p>Du weißt wie der Hase läuft. Diese Webseite gibts nicht. Brauchst auch garnicht erst schauen.</p>
<p>Hier ist nichts.</p>
<p>Wirklich nicht!</p>
<p>Geh nach <a href="{{ home }}">hause</a>.</p>
