<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <style>
        @font-face {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: normal;
          src: url('/static/fonts/Roboto-Regular.ttf') format('truetype');
        }

        * {
            font-family: "Roboto", sans-serif;
        }

        details p {
            line-height: 0.1;
        }
    </style>
    <script src="../static/js/admin.js"></script>
    <script src="../static/js/socketOffline.js"></script>

</head>
<body>
<h1>Settings</h1>
<form action="{{ request.path }}" method="POST">
    <input id="checkbox1" name="create_admin" type="checkbox" {% if create_admin %} checked {% endif %}>
    <label for="checkbox1">Creating new Admins is allowed</label><br>
    <input type="submit" value="Submit">
</form>
<br><button id="next_question">Nächste Frage</button>
<h1>List of important pages</h1>
<h2>Enter Name</h2>
<a href="{{ url_for('index', _external=True) }}">{{ url_for('index', _external=True) }}</a>
<h2>Show Main Page</h2>
<a href="{{ url_for('main', _external=True) }}">{{ url_for('main', _external=True) }}</a>
<h2>Show current Question</h2>
<a href="{{ url_for('question', _external=True) }}">{{ url_for('question', _external=True) }}</a>
<h2>Show voting buttons</h2>
<a href="{{ url_for('buttons', _external=True) }}">{{ url_for('buttons', _external=True) }}</a>
<h2>Admin Panel</h2>
<a href="{{ url_for('admin', _external=True) }}">{{ url_for('admin', _external=True) }}</a>
<h2>Auswertungen</h2>
<a href="{{ url_for('result', _external=True) }}">{{ url_for('result', _external=True) }}</a>
<div>
    <h1>User List</h1>
    <p>This list does not update itself. Please refresh the page.</p>
    {% for user in users %}
        {% if user.name is not none and user.name|length > 0 %}
        <h3>{{ user.name }}</h3>
        {% endif %}
        <details>
            <p>uuid: {{ user.id }}</p>
            <p style="color: {{ 'red' if user.admin else 'black' }}">admin: {{ user.admin }}</p>
            <p>name: {{ user.name }}</p>
        </details>
    {% endfor %}
</div>
</body>
</html>
