<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/auswertung.css">
  <script src="../static/js/chartsLoaderMobile.js"></script>
  <title>Quiz Results Visualization</title>
  <script>
    let loaded_result = JSON.parse('{{ result|tojson|safe }}');
  </script>
</head>
<body>
  <div class="container">
    <h1>Quiz Ergebnisse</h1>
    <div>
      <canvas id="resultsChart"></canvas>
    </div>
  </div>
  <script src="../static/js/auswertung.js"></script>
</body>
</html>
