<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Game</title>
    <link href="../static/css/buttons.css" rel="stylesheet">
    <script src="../static/js/socketOffline.js"></script>

</head>
<body>
    <div class="quiz-container">
        <div class="header">
          
            <div class="rect-button-container">
                {% if not is_button_disabled %}
                    <a href="{{ url_for('index', _external=True) }}" class="rect-button rect-button-1">Name</a>
                {% else %}
                    <button disabled class="rect-button rect-button-1">Name</button>
                {% endif %}
                <a {% if is_button_disabled %}disabled{% endif %} class="rect-button rect-button-2" href="{{ url_for('mobile_result', _external=True) }}" id="dance">#dance</a>
            </div>
        </div>
        <button {% if is_button_disabled %}disabled{% endif %} class="button button-top" value="a" id="button-a">A</button>
        <button {% if is_button_disabled %}disabled{% endif %} class="button button-left" value="b" id="button-b">B</button>
        <button {% if is_button_disabled %}disabled{% endif %} class="button button-right" value="c" id="button-c">C</button>
        <button {% if is_button_disabled %}disabled{% endif %} class="button button-bottom" value="d" id="button-d">D</button>
        <span class="dot"></span>
    </div>
    <script src="../static/js/buttons.js"></script>
</body>
</html>
