<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display Names</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel="stylesheet">
    <script src="../static/js/socketOffline.js"></script>
    <script src="../static/js/jQuery.js"></script>
</head>
<body>
<h1>List of current Players:</h1>
<ul id="players">
    {% for name in names %}
    <li>{{ name }}</li>
    {% endfor %}
</ul>

<script>
    const socket = io.connect(location.origin);

    socket.on('connect', () => {
        console.log('Connected to the server');
    });

    socket.on('update_total_names_display', (names) => {
        console.log("Called the update!")
        const content = $('#players');
        content.empty();
        names.forEach(item => {
            content.append(`<li>${item}</li>`);
        });
    });
</script>

<a href="{{ url_for('index') }}">Back to index</a>
<br>
<a href="{{ url_for('buttons') }}">Go to buttons page</a>
<br>
<img id="qr-code" src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
</body>
</html>
