<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>CIQ | Dein Name</title>
    <link href="{{ url_for('static', filename='css/inputname.css') }}" rel="stylesheet">
</head>
<body>
<div class="container">
    <img alt="Character" class="character" src="../static/img/professor.png">
    <form method="POST" action="/">
        {% if name %}
        <input class="name-input" name="name" placeholder="{{ name }}" type="text">
        {% else %}
        <input class="name-input" name="name" placeholder="Hier" type="text">
        {% endif %}
        <button class="play-button" type="submit">Spielen</button>
    </form>
</div>
</body>
</html>
