<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>CIQ | Main Screen</title>
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/quiz.css" rel="stylesheet">
    <script src="../static/js/socketOffline.js"></script>
    <script src="../static/js/jQuery.js"></script>
    <script>
        let loaded_names = JSON.parse('{{ all_names|safe }}');
    </script>
</head>
<body>
<div id="game-container">
    <canvas id="game-canvas"></canvas>
</div>
<div id="quiz-overlay">
    <div class="quiz-container">
        <div class="progress-indicator">Question 1 of 10</div>
        <div class="question-box">
            <p>{{ question }}</p>
        </div>
        <div class="answer-boxes">
            <button class="answer-box top">a. {{ answers[0] }}</button>
            <button class="answer-box middle-left">b. {{ answers[1] }}</button>
            <button class="answer-box middle-right">c. {{ answers[2] }}</button>
            <button class="answer-box bottom">d. {{ answers[3] }}</button>
        </div>
    </div>
</div>
<div id="qr-overlay">
    <img id="qr-code" src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
</div>
<div id="buttons">
    <button id="toggle-quiz">Toggle Quiz</button>
    <button id="toggle-qr">Toggle QR Code</button>
</div>
<script src="../static/js/main.js"></script>
</body>
</html>
