<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/mobile_auswertung.css">
    <title>CIQ | Ergebnis</title>
    <script>
        let currentUserResult = {{ data|tojson|safe }};
    </script>
</head>
<body>
    <div class="container">
        <h1 class="title">{{ name }}</h1>
        <div class="chart">
            <canvas id="barChart" width="400" height="400"></canvas>
        </div>
    </div>
    <script src="/static/js/chartsLoaderMobile.js"></script>
    <script src="/static/js/mobile_auswertung.js"></script>
</body>
</html>
