<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question</title>
    <script>
        function toggleNextQuestion() {
            fetch('{{ url_for('next_question') }}')
                .then(response => response.text())
                .then(result => {
                    console.log('Function triggered:', result);
                    location.reload();
                })
                .catch(error => {
                    console.error('Error triggering function:', error);
                });
        }
    </script>
</head>
<body>
    <h1>{{ question }}</h1>
    <form action="{{ url_for('question') }}" method="post">
        <ul>
        {% for i in options %}
            <li> {{ i }}</li>
        {% endfor %}
        </ul>
    </form>
    <button onclick="toggleNextQuestion()">Next Question</button>
    <a href="{{ url_for('display_names') }}">View all names</a>
</body>
</html>
